[submodule "projects/libs"]
	path = projects/libs
	url = git@github.com:trivial-space/libs.git
[submodule "projects/painter"]
	path = projects/painter
	url = git@github.com:trivial-space/painter.git
[submodule "projects/libs-wasm"]
	path = projects/libs-wasm
	url = git@github.com:trivial-space/trivalibs-rs.git
